{
  "WS_URL": "http://chatanoo-core.elasticbeanstalk.com",
  "API_KEYS": [
    { "name": "MJC", "key": "3WUWr77hbTf6gaH48fnUj9yhp442vbeH", "session": 1 },
		{ "name": "Migrations", "key": "XhdThqbTJxXdHkTAKTtsjPUUgB3w4zEg", "session": 2 },
		{ "name": "Cirasti", "key": "aYajpwve9tsusEHcsBgKTCW2XuDVuaDf", "session": 3 },
		{ "name": "Problem Solving", "key": "ExHuJnpQkE4iRc6vMfYEqFbkkBLzjxUe", "session": 4 }
  ],
  "MEDIAS_CENTER": {
    "url": "http://medias.aws.chatanoo.org",
    "input_bucket": "chatanoo-medias-input",
    "identity_pool": "eu-west-1:b263aeab-02ae-4268-b338-95e7ea79e255",
    "region": "eu-west-1",
    "upload_url": "http://ms.dring93.org/upload"
  }
}
