<% if( !_.isNull( user ) && (user.role == 'admin' || ( !_.isNull( item.user ) && user.id == item.user.id) ) ) { %>
<div class="admin">
	<h3>Administration</h3>
	<% if( item.get( '_isValid' ) ) { %>
		<input type="button" name="unvalidate" value="Masquer ma contribution" />
	<% } else { %>	
		<input type="button" name="validate" value="Afficher ma contribution" />
	<% } %>
	<input type="button" name="edit" value="Modifier ma contribution" />
	<input type="button" name="delete" value="Supprimer ma contribution" />
</div>
<% } %>

<% if (item.medias.length > 0) { %>
<div id="mediabox">
	<div class="scroller" style="width: <%- item.medias.length * 100 %>%">
	<% _.each( item.medias.toArray(), function(media) { %>
		<% if( media.get( '_isValid' ) || (!_.isNull( user ) && user.role == 'admin') ) { %>
			<% var reg = new RegExp("^(MC-[a-zA-Z]+-[PVMS])$","g"); %>
			<% if(media.get("__className") == "Vo_Media_Picture") { %>
				<% var picture_url = reg.test(media.get('url')) ? config.mediasCenter.url + "m/640x640/inner/" + media.get('url') + ".jpg" : media.get('url'); %>
				<div class="media picture" style="width: <%- 100 / item.medias.length %>%">
					<img src="<%- picture_url %>" alt="<%- media.get('title') %>" />
				</div>
			<% } else if (media.get("__className") == "Vo_Media_Video") { %>
				<% if (reg.test(media.get('url'))) { %>
				<div class="media video" style="width: <%- 100 / item.medias.length %>%">
					<video width="100%" controls="controls">
						<!-- VIDEO FORMATS -->
					  	<source src="<%- config.mediasCenter.url %>m/480x320/<%- media.get('url') %>.webm" type="video/x-webm" />
					  	<source src="<%- config.mediasCenter.url %>m/480x320/<%- media.get('url') %>.ogv" type="video/ogg" />
					  	<source src="<%- config.mediasCenter.url %>m/480x320/<%- media.get('url') %>.mp4" type="video/mp4" />
					  	<source src="<%- config.mediasCenter.url %>m/480x320/<%- media.get('url') %>.mov" type="video/quicktime" />
					  	<source src="<%- config.mediasCenter.url %>m/480x320/<%- media.get('url') %>.avi" type="video/x-sgi-movie" />

						<!-- FLASH ALTERNATIVE
						<object type="application/x-shockwave-flash" data="player.swf" width="480" height="320">
						    <param name="movie" value="player.swf" />
						    <param name="FlashVars" value="flv=http://ms.dring93.org/m/480x320/MC-SEWnjWaI-V.flv" /> -->
	                
							<!-- PICTURE ALTERNATIVE  -->
							<img src="<%- config.mediasCenter.url %>m/preview/480x320/<%- media.get('url') %>.jpg"/>
	                
						<!-- </object> -->
	                
					</video>
				</div>
				<% } %>
			<% } else if(media.get("__className") == "Vo_Media_Sound") { %>
				<div class="media audio" style="width: <%- 100 / item.medias.length %>%">
					<audio width="100%" controls="controls">
						<source src="<%- config.mediasCenter.url %>m/<%- media.get('url') %>.ogg" type="audio/ogg" />
						<source src="<%- config.mediasCenter.url %>m/<%- media.get('url') %>.aac" type="audio/aac" />
						<source src="<%- config.mediasCenter.url %>m/<%- media.get('url') %>.mp3" type="audio/mp3" />
						Your browser does not support the audio tag.
					</audio>
				</div>
			<% } %>
		<% } %>
	<% }) %>	
	</div>
</div>

<nav>
	<ul>
		<% _.each( item.medias.toArray(), function(media, num) { %>
		<% if( media.get( '_isValid' ) || (!_.isNull( user ) && user.role == 'admin') ) { %>
			<li><a href="#"<% if(num == 0) print(' class="selected"') %>><%= num + 1 %></a></li>
		<% } %>
		<% }); %>
	</ul>
</nav>
<% } %>

<% if ( !_.isNull( item.get("description") ) && !_.isUndefined( item.get("description") )  && item.get("description") != "" ) { %>
<p><%- item.get("description") %></p>
<% } %>
<% if ( !_.isNull( item.user ) ) { %>
<p class="author">Par <%- item.user.pseudo %><% if( !_.isNull( item.get('addDate') ) ) { %>, <%- item.get('addDate').fromNow() %><% } %></p>
<% } %>

<% if (item.comments.length > 0) { %>
<ul class="rounded-tableview comments">
</ul>
<% } %>

<form id="comment-form" action="">
	<textarea name="comment" class="medium" placeholder="Donnez votre avis!"></textarea>
	<input type="button" name="submit" value="Contribuer" />
</form>

<% if (item.metas.length > 0) { %>
<h3 class="tag-header">Tags</h3>
<ul class="metas">
</ul>
<% } %>